a {
  text-decoration: none;
}

.MuiListItem-gutters {
  padding-left: 20px !important;
}

.MuiPaper-root {
  background-color: #25274D !important;
}


.makeStyles-toolbar-9 {
  vertical-align: middle;
}
