* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    color: white !important;
    font-size: 19px;
}

body {
    background-color: #464866 !important;
}

.MuiButton-contained, .makeStyles-avatar-12 {
    background-color: #25274D !important;
}


.makeStyles-content-10 {
    padding: 0 !important;
}

.MuiTypography-h6 {
    font-size: 1.2rem !important;
}
